.register-button-inline{
    min-width: 25%;
    min-height: 20%;
    width: auto;
    display: inline;
    border: 1px solid black;
    padding: 1%;
    border-radius: 7px;
    position: absolute;
    left: 55%;
    top: 200px;
}

.login-button-inline{
    min-width: 25%;
    min-height: 20%;
    width: auto;
    display: inline;
    border: 1px solid black;
    padding: 1%;
    border-radius: 7px;
    position: absolute;
    left: 25%;
    top: 200px;
}