<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../static/table.css">
</head>

<body>
    <h1>CostMates</h1>  
    <nav>
        <div class="d-flex bd-highlight">
            <div class="nav nav-tabs bd-highlight" id="tabs" role="tablist"></div>
            <div class="ms-auto bd-highlight">
                <button class="btn btn-danger pull-right" id="newSplitButton" type="submit" onclick="newSplit()">New Split</button>
            </div>
        </div>
    </nav>

    <button class="button" onclick="newRow()">
        New Row
    </button>


    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="home-tab">
            <div class="table-responsive bg-white rounded shadow">
                <table class="table table-hover table-fixed" id="table">
                    <thead>
                    <tr>
                        <th id="corner" class="col-1">Created</td>
                        <th scope="col" class="sortme col-4">Name</th>
                        <th scope="col" class="sortme col-2">Due Date</th>
                        <th scope="col" class="sortme col-2">Price</th>
                        <th scope="col" class="sortme col-2">Mates</th>
                        <th scope="col" class="sortme col-1">Archive</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="sortme">
                            <th scope="row" class="col-1 r">Row I</th>
                            <td class="col-4">Closed</td>
                            <td class="col-2">Open</td>
                            <td class="col-2">Open</td>
                            <td class="col-2">Open</td>
                            <td class="col-1 button"><button type="button" class="btn btn-outline-success btn-sm">Archive</button></td>
                        </tr>
                        <tr class="sortme">
                            <th scope="row" class="col-1 r">Row II</th>
                            <td class="col-4">OpenOpenOpenOpenOpenOpenOpenOpenOpenOpenOpenOpenOpenOpenOpenOpenOpenOpenOpenOpen</td>
                            <td class="col-2">Closed</td>
                            <td class="col-2">Open</td>
                            <td class="col-2">Open</td>
                            <td class="col-1 button"><button type="button" class="btn btn-outline-success btn-sm">Archive</button></td>
                        </tr>
                        <tr class="sortme">
                            <th scope="row" class="col-1 r">Row III</th>
                            <td class="col-4">Open</td>
                            <td class="col-2">Open</td>
                            <td class="col-2">ClosedClosedClosedClosedClosed</td>
                            <td class="col-2">Closed</td>
                            <td class="col-1"><button type="button" class="btn btn-outline-success btn-sm">Archive</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-archive" role="tabpanel" aria-labelledby="archive-tab"></div>
        <div class="tab-pane fade" id="nav-newSplit" role="tabpanel" aria-labelledby="newSplit-tab">
            <button class="button" onclick="addItem()">
                Add Item
            </button>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editMateListModal" onclick="showCurrentMates()">
                Edit Mates
            </button>
            <div class="table-responsive">
                <table class="table mytable table-bordered" id="splitForm">
                    <thead>
                    <tr>
                        <td id="corner"></td>
                        <th scope="col" class="sortme">Item Name</th>
                        <th scope="col" class="sortme">Cost</th>
                        <th scope="col" class="sortme">Mates</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table mytable table-bordered" id="summary" display="none">
                    
                </table>
            </div>
            <div id="splitButtons" style="position: fixed; bottom: 0px;">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmationModal" >Cancel</button>
                <button type="button" class="btn btn-success" onclick="saveAndCalculate()" >Save & Calculate</button>
                <button type="button" class="btn btn-success" onclick="close()" >Close</button>

            </div>
            <div class="modal fade" id="editMateListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content" style="min-width: 500px;">
                        <div class="modal-header border-bottom-0">
                            <h4 class="modal-title" id="myModalLabel">
                                Your mates
                            </h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body px-md-5">
                            <table class="table table-image">
                            <thead>
                                <tr>
                                    <th>Display Name</th>
                                    <th>Email</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody id="currentMateList">
                               
                            </tbody>
                            </table>
                        </div>
                      
                            
                        <div class="input-group px-md-5">
                            <input type="text" class="form-control" id="newMateEmail" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2" type="email" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="addMates()"><i class="bi bi-person-plus-fill"></i></button>
                            </div>
                        </div>
                       
                     
                        <div class="modal-footer border-top-0 d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="saveMates()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content" style="min-width: 500px;">
                        <div class="modal-header border-bottom-0">
                            <h4 class="modal-title" id="confirmationModalLabel">
                                You have unsaved changes.
                            </h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body px-md-5">
                            Are you sure you want to continue?
                        </div>

                        <div class="modal-footer border-top-0 d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="discardChanges()">Yes, discard changes</button>
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="continueEditing()">No, continue editing</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/createTabs.js"></script>
    <script src="../static/dragdropRowCol.js"></script>
    <script src="../static/createSplit.js"></script>
</body>
</html>